* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191c26;
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  height: 100vh;
}
.navbar {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}
.navbar a {
  float: none;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 14px 12px;
  height: 100vh;
  font-size: 25px;
  margin: 5em auto;
}
.navbar a:hover {
  background-color: lavender;
  color: black;
}

.navbar a.active {
  background-color: transparent;
  color: red;
}

main {
  display: grid;
  grid-template-areas:
    "a a a b"
    "a a a b"
    "c c d d"
    "c c e e";
  gap: 10px;
  height: 100vh;
  width: 60%;
  margin: 40px auto;
}
main div {
  border-radius: 2px;
  text-align: center;
}

.item-a {
  background-color: #f24822;
  grid-area: a;
}
.item-b {
  background-color: #f28705;
  grid-area: b;
}
.item-c {
  background-color: #08a63f;
  grid-area: c;
}
.item-d {
  background-color: #05aff2;
  grid-area: d;
}
.item-e {
  background-color: #05aff2;
  grid-area: e;
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 970px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: grid;
    grid-template-areas:
      "a a a a"
      "b b b b"
      "c c c c"
      "d d d d"
      "e e e e";
  }
}
